@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
    margin: 0;
    font-family: "Inter", sans-serif;
}

.thin {
    font-weight: 300;
}

.flex {
    display:flex;

}

.container {
    padding-left: 136px;
    padding-right: 136px;

    justify-content: center;

}

.inline{
    display: inline;

}

header{
    width: 100%;
    background: #C11616;
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.10);
    color:white;
    
    padding-top: 10px;
    padding-bottom: 10px;

    justify-content: center;
    gap:15%;

    margin-bottom: 77px;

}

header .logo img{
    margin-right: 20px;

}

header .logo{
    width:25%;
    align-items: center;

}

header .logo i{
    border-left: 1px solid white;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    font-size:14px;
}

header .search{
    width:40%;
    align-items: center;
    gap:5px;

}

header .search input{
    height:25%;
    width:282px;
    background-color: #C11616;
    color:white;    
    border: 2px solid #C11616;
    border-bottom: 1px solid white;

}

header .search button{
    background-color: #C11616;
    border:none;
}

header .search button img{
    width:20px;

}

header .search .links{
    width:80%;
}

header .search .links a{
    padding-left: 20px;
    color:white;

} 

header .search .links a:first-child{
    padding-right: 20px;
    border-right: 1px solid white;

}

section{
    display:table;
    width:100%;
    margin-left: 20%;


}

section img{
    float:left;

}

.container section .main-section{
    align-self: center;
    flex-direction: column;
    width:60%;

}

.container section .main-section .categories .bar-intro{
    width: 81px;
    height: 4px;
    flex-shrink: 0;

    border-radius: 5px;
    background: linear-gradient(90deg, #F00 0%, rgba(255, 0, 0, 0.46) 60.12%);

}

@media(max-width:440px){
    /* ... */
}
